* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'VT323', monospace;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/*** HEADER ***/

header {
    width: 100%;
    height: 10vh;
    background-color: #02123C;
}

/*** MAIN ***/

main {
    height: 75vh;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/*** ASIDE ***/

aside {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 10px;
    height: 60vh;
    background-color: #C29F13;
    border-radius: 15px;
}

/*** TEMPLATE DIVS ***/

#startDisplay, #easyMode, #normalMode {
    width: 90%;
    height: 55vh;
    padding: 25px;
    background-color: black;
    border-radius: 15px;
    color: white;
    font-size: 2em;
}
/*** Easy Game ***/
#easyMode{
    display: flex;
    flex-direction:column ;
    justify-content: space-between;
    align-items: center;
}

#game-box{
    display: flex;
    height: 200px;
    width: 200px;
    margin-top: 120px;
    align-items: center;
    justify-content: center;
    background-color: #fed766;
    color: #FF4D80;
}
#output-box{
    box-sizing: border-box;
    padding: 10px;
    height: 10%;
    width: 100%;
    border: black 2px solid;
}



/*** Normal Mode ***/

#normalMode .container{
    margin: 0px;
    padding: 0px;
    background-color: #FF4D80;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 0px;
    justify-content: stretch;
    align-content: stretch;
    justify-items: stretch;
    align-items: stretch;
}

.board-item{
    /* background-color: #0061B5; */
    /* border: 1px solid #0112A5; */
}

.target-item{
    background-color: #fed766;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF4D80;
}



/*** FOOTER ***/

footer  {
    width: 100%;
    height: 15vh;
    background-color: #02123C;
}

/*** General Classes ***/

.all-buttons{
    color: #821510;
    font-size: 30px;
    height: 50px;
    width: 140px;
    background-color: transparent;
    border: #821510 2px solid;
   
}