/*** GENERAL STYLES ***/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'VT323', monospace;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-image: url('imgs/gif_background.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    margin: 10px 0;
    color: rgb(216, 216, 216);
}

h3 {
    margin: 10px 0;
    color: #02123C;
}

/*** HEADER ***/

header {
    width: 100%;
    height: 10vh;
    background-color: #02123c00;
    border: solid 1 px white;
}

/*** MAIN ***/

main {
    height: 75vh;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/*** ASIDE ***/

aside {
    width: 20%;
    padding: 10px;
    height: 75vh;
    background-color: #fd569cc4;
    border-radius: 5px;
    padding: 25px;
    font-size: 2em;
    border: white solid 4px;
    overflow: hidden;
}

/*** TEMPLATE DIVS ***/

#easyMode, #normalMode, #finishDisplay {
    width: 90%;
    height: 55vh;
    padding: 5%;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    color: white;
    font-size: 2em;
}

#startDisplay{
    width: 90%;
    height: 55vh;
    padding: 5%;
    background-color: rgba(164, 214, 255, 0.781);
    border-radius: 5px;
    color: white;
    font-size: 2em;
    border: white solid 4px;
}

/*** START TEMPLATE ***/

#startDisplay button {
    display: inline-block;
    max-width: 150px;
    padding: 5px;
    font-size: .8em;
    margin-top: 0px;
    font-family: 'VT323', monospace;
    background-color: #FF4D80;
    color: aliceblue;
}

#startDisplay button:hover {
    background-color: #800327;
    color: aliceblue;
}

#startDisplay input {
    padding: 5px;
    font-size: .8em;
    margin-top: 0px;
    font-family: 'VT323', monospace;
}

.alerts {
    display: inline-block;
    visibility: hidden;
    color: red;
    margin-left: 10px;
}

/*** Easy Game ***/
#easyMode{
    display: flex;
    flex-direction:column ;
    justify-content: space-between;
    align-items: center;
}

#game-box{
    display: flex;
    height: 200px;
    width: 200px;
    margin-top: 120px;
    align-items: center;
    justify-content: center;
    background-color: #fed766;
    color: #FF4D80;
    cursor: url('imgs/nyanCat_right.png'), auto;
}

/*** Normal Mode ***/

#normalMode .container{
    margin: 0px;
    padding: 0px;
    background-color: #FF4D80;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 0px;
    justify-content: stretch;
    align-content: stretch;
    justify-items: stretch;
    align-items: stretch;
    cursor: url('imgs/nyanCat_right.png'), auto;
}

.board-item {
    border: 0;
    /* background-color: #0061B5; */
    /* border: 1px solid #0112A5; */
}

.target-item{
    background-color: #fed766;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF4D80;
}

/*** FINISH TEMPLATE ***/

#finishDisplay {
    text-align: center;
    flex-direction: column;
}

#finishDisplay button {
    display: inline-block;
    width: 250px;
    padding: 10px;
    font-size: 1em;
    margin-top: 35px;
    font-family: 'VT323', monospace;
}

#finalScore h3 {
    display: inline-block;
}

#finalScore h3 {
    color: white;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
        typing 4s steps(40, jump-end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 50% }
}

  /* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
}

/*** FOOTER ***/

footer  {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

footer button {
    padding: 10px;
    height: 40px;
    font-size: 1.5em;
    margin-right: 15px;
}
#timerCount{
    display: none;
    font-size: 50px;
    height: 80px;
    width: 80px;
    background-color: #C29F13;
    opacity: .8;
    border-radius: 40%;
    align-items: center;
    justify-content: center;
}
/*** General Classes ***/

.all-buttons{
    font-family: 'VT323', monospace;
    color: #821510;
    font-size: 30px;
    height: 50px;
    width: 140px;
    background-color: transparent;
    border: #821510 2px solid;
}
.click-here-text {
    user-select: none;
}


/*TODO Aqui ha trabajado el wey del ERICK*/

.number__count{
    position: absolute;
    top: 20%;
    left: center;
    width: 100px;
    height: 100px;
    animation: scale-number 1s linear;
    transform-origin: 130px center;
    opacity: .8;
}

/* Apago el display primero para después encender cada numero en su respectivo momento mediante JS*/
#number-0{
    display: none;
}
#number-1{
    display: none;
}
#number-2{
    display: none;
}
#number-3{
    display: none;
}

/* Con esto hago la animación básica de numero creciente*/
@keyframes scale-number{
    0%{transform: scale(.5);}
    100%{transform: scale(1);}
}

#start__btn{
    width: 200px;
    height: 50px;
    margin-left: 40%;
}

.form__group{
    margin-bottom: 10px;
}

.form__input__group{
    display: flex;
    padding-top: 10px;
    align-items: center;
    align-items: center;
    gap: 20px;
}

#espada-gif{
    width: 7%;
    height: 7%;
    margin-right: 20px;
}

#ghost-gif{
    width: 7%;
    height: 7%;
    margin-right: 20px;
}

#github-gif{
    width: 7%;
    height: 7%;
    margin-right: 20px;
}

#cat-gif{
    width: 7%;
    height: 7%;
    margin-left: 20px;
    padding-top: 20px;
}

.diamonds{
    border-left: white solid 4px;
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 54px;
    top: 100px;
    width: 100px;
    height: fit-content;
    overflow: hidden;
}

.diamonds div img{
    width: 380%;
    overflow: hidden;
}

.diamonds div{
    height: 120px;
    width: 100%;
    overflow: hidden;
    overflow: hidden;
}

#beer-1{
    transform: translateX(0px);
}
#beer-2{
    transform: translateX(-85px);
}
#beer-3{
    transform: translateX(-170px);
}
#beer-4{
    transform: translateY(-125px);
}
#beer-5{
    transform: translate(-85px, -125px);
}
#beer-6{
    transform: translate(-260px, 0px);
}

