/*** GENERAL STYLES ***/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'VT323', monospace;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-image: url('imgs/gif_background.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    margin: 10px 0;
}

h3 {
    margin: 10px 0;
    color: #02123C;
}

/*** HEADER ***/

header {
    width: 100%;
    height: 10vh;
    background-color: #02123C;
    opacity: 0;
}

/*** MAIN ***/

main {
    height: 75vh;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/*** ASIDE ***/

aside {
    width: 20%;
    padding: 10px;
    height: 75vh;
    background-color: #C29F13;
    border-radius: 15px;
    padding: 25px;
    font-size: 2em;
    opacity: .8;
}

/*** TEMPLATE DIVS ***/

#startDisplay, #easyMode, #normalMode, #finishDisplay {
    width: 90%;
    height: 55vh;
    padding: 5%;
    background-color: black;
    border-radius: 15px;
    color: white;
    font-size: 2em;
}

/*** START TEMPLATE ***/

#startDisplay button {
    display: inline-block;
    max-width: 150px;
    padding: 5px;
    font-size: .8em;
    margin-top: 35px;
    font-family: 'VT323', monospace;
}

#startDisplay input {
    padding: 5px;
    font-size: .8em;
    margin-top: 35px;
    font-family: 'VT323', monospace;
}

/*** Easy Game ***/
#easyMode{
    display: flex;
    flex-direction:column ;
    justify-content: space-between;
    align-items: center;
}

#game-box{
    display: flex;
    height: 200px;
    width: 200px;
    margin-top: 120px;
    align-items: center;
    justify-content: center;
    background-color: #fed766;
    color: #FF4D80;
    cursor: url('imgs/nyanCat_right.png'), auto;
}

/*** Normal Mode ***/

#normalMode .container{
    margin: 0px;
    padding: 0px;
    background-color: #FF4D80;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 0px;
    justify-content: stretch;
    align-content: stretch;
    justify-items: stretch;
    align-items: stretch;
    cursor: url('imgs/nyanCat_right.png'), auto;
}

.board-item {
    border: 0;
    /* background-color: #0061B5; */
    /* border: 1px solid #0112A5; */
}

.target-item{
    background-color: #fed766;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF4D80;
}

/*** FINISH TEMPLATE ***/

#finishDisplay {
    text-align: center;
    flex-direction: column;
}

#finishDisplay button {
    display: inline-block;
    width: 250px;
    padding: 10px;
    font-size: 1em;
    margin-top: 35px;
    font-family: 'VT323', monospace;
}

#finalScore h3 {
    display: inline-block;
}

#finalScore h3 {
    color: white;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
        typing 4s steps(40, jump-end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 50% }
}

  /* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
}

/*** FOOTER ***/

footer  {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

footer button {
    padding: 10px;
    height: 40px;
    font-size: 1.5em;
    margin-right: 15px;
}

/*** General Classes ***/

.all-buttons{
    font-family: 'VT323', monospace;
    color: #821510;
    font-size: 30px;
    height: 50px;
    width: 140px;
    background-color: transparent;
    border: #821510 2px solid;
}
.click-here-text {
    user-select: none;
}


/*TODO Aqui trabaja el wey del ERICK*/
.bad__imput{
    border: red solid 4px;
}